<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>LoginServlet</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>MYSQL_DBURL</param-name>
    <param-value>jdbc:mysql://localhost:3306/bookmyseat</param-value>
  </context-param>
  <context-param>
    <param-name>MYSQL_DBUSER</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>MYSQL_DBPASSWORD</param-name>
    <param-value>root</param-value>
  </context-param>
   <context-param>
    <param-name>DB-IN-USE</param-name>
    <param-value>MYSQL</param-value>
  </context-param>
  
  
  <!--<servlet>
    <servlet-name>DBConnection</servlet-name>
    <servlet-class>com.narola.bookmyseat.utility.DBInitServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>-->
  <servlet>
    <servlet-name>AdminDashServlet</servlet-name>
    <servlet-class>com.narola.bookmyseat.dashboard.AdminDashServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDashServlet</servlet-name>
    <url-pattern>/AdminDash</url-pattern>
  </servlet-mapping>
<!--  <servlet>
    <servlet-name>PlaceServlet</servlet-name>
    <servlet-class>com.narola.bookmyseat.location.controller.PlaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceServlet</servlet-name>
    <url-pattern>/Place</url-pattern>
  </servlet-mapping>-->
  <servlet>
    <servlet-name>InsertStateServlet</servlet-name>
    <servlet-class>com.narola.bookmyseat.location.controller.InsertUpStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertStateServlet</servlet-name>
    <url-pattern>/InsertStateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateStateServlet</servlet-name>
    <servlet-class>com.narola.bookmyseat.location.controller.InsertUpStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStateServlet</servlet-name>
    <url-pattern>/UpdateStateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCityServlet</servlet-name>
    <servlet-class>com.narola.bookmyseat.location.controller.InsertUpCityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCityServlet</servlet-name>
    <url-pattern>/UpdateCityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertCityServlet</servlet-name>
    <servlet-class>com.narola.bookmyseat.location.controller.InsertUpCityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertCityServlet</servlet-name>
    <url-pattern>/InsertCityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveStateAction</servlet-name>
    <servlet-class>com.narola.bookmyseat.location.controller.RemoveStateAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveStateAction</servlet-name>
    <url-pattern>/RemoveStateAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveCityAction</servlet-name>
    <servlet-class>com.narola.bookmyseat.location.controller.RemoveCityAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCityAction</servlet-name>
    <url-pattern>/RemoveCityAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CastCrewServlet</servlet-name>
    <servlet-class>com.narola.bookmyseat.castcrew.CastCrewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CastCrewServlet</servlet-name>
    <url-pattern>/CastCrew</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertCastCrewServlet</servlet-name>
    <servlet-class>com.narola.bookmyseat.castcrew.InsertUpdateCCServlet</servlet-class>
    <multipart-config>
      <max-file-size>20848820</max-file-size>
      <max-request-size>418018841</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertCastCrewServlet</servlet-name>
    <url-pattern>/InsertCastCrewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCastCrewServlet</servlet-name>
    <servlet-class>com.narola.bookmyseat.castcrew.InsertUpdateCCServlet</servlet-class>
    <multipart-config>
      <max-file-size>20848820</max-file-size>
      <max-request-size>418018841</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCastCrewServlet</servlet-name>
    <url-pattern>/UpdateCastCrewServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>InsertCCServletFilter</filter-name>
    <filter-class>com.narola.bookmyseat.castcrew.InsertUpdateCCServletFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>InsertCCServletFilter</filter-name>
    <url-pattern>/InsertCastCrewServlet</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>UpdateCCServletFilter</filter-name>
    <filter-class>com.narola.bookmyseat.castcrew.InsertUpdateCCServletFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UpdateCCServletFilter</filter-name>
    <url-pattern>/UpdateCastCrewServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>RemoveCCAction</servlet-name>
    <servlet-class>com.narola.bookmyseat.castcrew.RemoveCCAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCCAction</servlet-name>
    <url-pattern>/RemoveCCAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MoviesServlet</servlet-name>
    <servlet-class>com.narola.bookmyseat.movies.controller.MoviesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoviesServlet</servlet-name>
    <url-pattern>/Movies</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertMovieServlet</servlet-name>
    <servlet-class>com.narola.bookmyseat.movies.controller.InsertUpdateMovieServlet</servlet-class>
    <multipart-config>
      <max-file-size>20848820</max-file-size>
      <max-request-size>418018841</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertMovieServlet</servlet-name>
    <url-pattern>/InsertMovieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateMovieServlet</servlet-name>
    <servlet-class>com.narola.bookmyseat.movies.controller.InsertUpdateMovieServlet</servlet-class>
    <multipart-config>
      <max-file-size>20848820</max-file-size>
      <max-request-size>418018841</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMovieServlet</servlet-name>
    <url-pattern>/UpdateMovieServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>InsertMovieServletFilter</filter-name>
    <filter-class>com.narola.bookmyseat.movies.validation.InsertUpdateMovieServletFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>InsertMovieServletFilter</filter-name>
    <url-pattern>/InsertMovieServlet</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>UpdateMovieServletFilter</filter-name>
    <filter-class>com.narola.bookmyseat.movies.validation.InsertUpdateMovieServletFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UpdateMovieServletFilter</filter-name>
    <url-pattern>/UpdateMovieServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>CinemasServlet</servlet-name>
    <servlet-class>com.narola.bookmyseat.cinemas.CinemasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CinemasServlet</servlet-name>
    <url-pattern>/Cinemas</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ErrorServlet</servlet-name>
    <servlet-class>com.narola.bookmyseat.utility.ErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorServlet</servlet-name>
    <url-pattern>/Error</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewMovieServlet</servlet-name>
    <servlet-class>com.narola.bookmyseat.movies.controller.ViewMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMovieServlet</servlet-name>
    <url-pattern>/ViewMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MovieUpdateDataServlet</servlet-name>
    <servlet-class>com.narola.bookmyseat.movies.controller.ViewMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMovieServlet</servlet-name>
    <url-pattern>/MovieUpdateData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMovieStatus</display-name>
    <servlet-name>UpdateMovieStatus</servlet-name>
    <servlet-class>com.narola.bookmyseat.movies.controller.UpdateMovieStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMovieStatus</servlet-name>
    <url-pattern>/UpdateMovieStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveMovieAction</display-name>
    <servlet-name>RemoveMovieAction</servlet-name>
    <servlet-class>com.narola.bookmyseat.movies.controller.RemoveMovieAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveMovieAction</servlet-name>
    <url-pattern>/RemoveMovieAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertCinemaServlet</servlet-name>
    <servlet-class>com.narola.bookmyseat.cinemas.InsertUpdateCinemaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertCinemaServlet</servlet-name>
    <url-pattern>/InsertCinemaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCinemaServlet</servlet-name>
    <servlet-class>com.narola.bookmyseat.cinemas.InsertUpdateCinemaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCinemaServlet</servlet-name>
    <url-pattern>/UpdateCinemaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewCinema</servlet-name>
    <servlet-class>com.narola.bookmyseat.cinemas.viewCinemaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCinema</servlet-name>
    <url-pattern>/ViewCinema</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCinemaData</servlet-name>
    <servlet-class>com.narola.bookmyseat.cinemas.viewCinemaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCinemaData</servlet-name>
    <url-pattern>/UpdateCinemaData</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDashboardServlet</servlet-name>
    <servlet-class>com.narola.bookmyseat.cinemaDashboard.AdminDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDashboardServlet</servlet-name>
    <url-pattern>/CinemaAdminDashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageScreenServlet</servlet-name>
    <servlet-class>com.narola.bookmyseat.cinemaScreen.ManageScreenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageScreenServlet</servlet-name>
    <url-pattern>/ManageScreen</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertScreenServlet</servlet-name>
    <servlet-class>com.narola.bookmyseat.cinemaScreen.InsertScreenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertScreenServlet</servlet-name>
    <url-pattern>/InsertScreenServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewScreen</servlet-name>
    <servlet-class>com.narola.bookmyseat.cinemaScreen.ViewScreen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewScreen</servlet-name>
    <url-pattern>/ViewScreen</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertSeatLayout</servlet-name>
    <servlet-class>com.narola.bookmyseat.cinemaScreen.InsertSeatLayout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertSeatLayout</servlet-name>
    <url-pattern>/InsertSeatLayout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateScreenServlet</servlet-name>
    <servlet-class>com.narola.bookmyseat.cinemaScreen.UpdateScreenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateScreenServlet</servlet-name>
    <url-pattern>/UpdateScreen</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageShowServlet</servlet-name>
    <servlet-class>com.narola.bookmyseat.cinemaShow.ManageShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageShowServlet</servlet-name>
    <url-pattern>/ManageShow</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertShowServlet</servlet-name>
    <servlet-class>com.narola.bookmyseat.cinemaShow.InsertUpdateShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertShowServlet</servlet-name>
    <url-pattern>/InsertShow</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateShowServlet</servlet-name>
    <servlet-class>com.narola.bookmyseat.cinemaShow.InsertUpdateShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateShowServlet</servlet-name>
    <url-pattern>/UpdateShow</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateShowData</servlet-name>
    <servlet-class>com.narola.bookmyseat.cinemaShow.UpdateShowData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateShowData</servlet-name>
    <url-pattern>/UpdateShowData</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.narola.bookmyseat.userhome.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectCityServlet</servlet-name>
    <servlet-class>com.narola.bookmyseat.userhome.SelectCityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectCityServlet</servlet-name>
    <url-pattern>/SelectCity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExploreMovieServlet</servlet-name>
    <servlet-class>com.narola.bookmyseat.userhome.ExploreMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExploreMovieServlet</servlet-name>
    <url-pattern>/ExploreMovieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.narola.bookmyseat.authentication.LoginFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>com.narola.bookmyseat.authentication.LoginActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.narola.bookmyseat.authentication.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>com.narola.bookmyseat.users.UsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/Users</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertUser</servlet-name>
    <servlet-class>com.narola.bookmyseat.users.InsertUsers</servlet-class>
    <multipart-config>
      <max-file-size>20848820</max-file-size>
      <max-request-size>418018841</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertUser</servlet-name>
    <url-pattern>/InsertUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>com.narola.bookmyseat.authentication.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.narola.bookmyseat.authentication.Registration</servlet-class>
    <multipart-config>
      <max-file-size>20848820</max-file-size>
      <max-request-size>418018841</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HttpClientExample5</display-name>
    <servlet-name>HttpClientExample5</servlet-name>
    <servlet-class>HttpClientExample5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpClientExample5</servlet-name>
    <url-pattern>/HttpClientExample5</url-pattern>
  </servlet-mapping>
</web-app>